In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

In [2]:
df.shape

(391, 11)

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Checking the number of rows and columns
rows, columns = df.shape
print(f"The DataFrame has {rows} rows and {columns} columns.")

The DataFrame has 391 rows and 11 columns.

In [5]:
shape

NameError: name 'shape' is not defined

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Summary of the dataset
print(df.info())          # General information including columns, non-null values, and data types
print(df.describe())      # Statistical summary for numerical columns

# Example of summary for categorical columns (if any)
for column in df.select_dtypes(include=['object']).columns:
    print(f"\nValue counts for {column}:")
    print(df[column].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Value counts for id:
id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64

Value counts for name:
name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
          ..
Elvis      1
Eloise     1
Elmer      1
Ellie      1
Zucker     1
Name: count, Length: 391, dtype: int64

Value counts for gender:
gender
male      204
female    187
Name: count, dtype: int64

Value counts for species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

Value counts for birthday:
birthday
1-27     2
12-5     2
7-31     2
3-26     2
8-3      2
        ..
4-3      1
10-26    1
7-23     1
12-8     1
3-8      1
Name: count, Length: 361, dtype: int64

Value counts for personality:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

Value counts for song:
song
K.K. Country     10
Forest Life       9
Imperial K.K.     7
K.K. Soul         7
K.K. Ragtime      7
                 ..
Aloha K.K.        2
Drivin'           1
Senor K.K.        1
K.K.  Bazaar      1
K.K. D&B          1
Name: count, Length: 92, dtype: int64

Value counts for phrase:
phrase
wee one       2
quacko        2
bloop         2
aye aye       1
snoot         1
             ..
lambchop      1
yeah buddy    1
chow down     1
unh-hunh      1
pronk         1
Name: count, Length: 388, dtype: int64

Value counts for full_id:
full_id
villager-admiral    1
villager-muffy      1
villager-paula      1
villager-patty      1
villager-pate       1
                   ..
villager-elvis      1
villager-eloise     1
villager-elmer      1
villager-ellie      1
villager-zucker     1
Name: count, Length: 391, dtype: int64

Value counts for url:
url
https://villagerdb.com/images/villagers/thumb/admiral.98206ee.png    1
https://villagerdb.com/images/villagers/thumb/muffy.1497c92.png      1
https://villagerdb.com/images/villagers/thumb/paula.563ba81.png      1
https://villagerdb.com/images/villagers/thumb/patty.3e17f7f.png      1
https://villagerdb.com/images/villagers/thumb/pate.c60838c.png       1
                                                                    ..
https://villagerdb.com/images/villagers/thumb/elvis.57d4757.png      1
https://villagerdb.com/images/villagers/thumb/eloise.112208b.png     1
https://villagerdb.com/images/villagers/thumb/elmer.cc7df52.png      1
https://villagerdb.com/images/villagers/thumb/ellie.5a144a6.png      1
https://villagerdb.com/images/villagers/thumb/zucker.8dbb719.png     1
Name: count, Length: 391, dtype: int64

In [7]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Basic information about the dataset (rows, columns, and data types)
print("Basic Information:")
print(df.info())

# Checking missing values in each column
print("\nMissing Values:")
print(df.isna().sum())

# Descriptive statistics for numeric columns
print("\nSummary Statistics for Numerical Columns:")
print(df.describe())

# For categorical columns, show the most frequent values
print("\nValue Counts for Categorical Columns:")
for column in df.select_dtypes(include=['object']).columns:
    print(f"\n{column} value counts:")
    print(df[column].value_counts().head())  # Show top 5 most frequent values

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

Missing Values:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Summary Statistics for Numerical Columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Value Counts for Categorical Columns:

id value counts:
id
admiral    1
mott       1
paula      1
patty      1
pate       1
Name: count, dtype: int64

name value counts:
name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
Name: count, dtype: int64

gender value counts:
gender
male      204
female    187
Name: count, dtype: int64

species value counts:
species
cat         23
rabbit      20
frog        18
squirrel    18
duck        17
Name: count, dtype: int64

birthday value counts:
birthday
1-27    2
12-5    2
7-31    2
3-26    2
8-3     2
Name: count, dtype: int64

personality value counts:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
Name: count, dtype: int64

song value counts:
song
K.K. Country     10
Forest Life       9
Imperial K.K.     7
K.K. Soul         7
K.K. Ragtime      7
Name: count, dtype: int64

phrase value counts:
phrase
wee one    2
quacko     2
bloop      2
aye aye    1
snoot      1
Name: count, dtype: int64

full_id value counts:
full_id
villager-admiral    1
villager-muffy      1
villager-paula      1
villager-patty      1
villager-pate       1
Name: count, dtype: int64

url value counts:
url
https://villagerdb.com/images/villagers/thumb/admiral.98206ee.png    1
https://villagerdb.com/images/villagers/thumb/muffy.1497c92.png      1
https://villagerdb.com/images/villagers/thumb/paula.563ba81.png      1
https://villagerdb.com/images/villagers/thumb/patty.3e17f7f.png      1
https://villagerdb.com/images/villagers/thumb/pate.c60838c.png       1
Name: count, dtype: int64

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Check dataset size
print("Dataset shape (rows, columns):", df.shape)

# Describe numerical columns
describe = df.describe()
print("\nNumber of columns analyzed by df.describe():", describe.shape[1])

# Compare "count" values from df.describe() with total number of rows
print("\nCount of non-null values in numerical columns:")
print(describe.loc['count'])

# Compare with total number of rows in the dataset
print("\nTotal number of rows in the dataset:", df.shape[0])

Dataset shape (rows, columns): (391, 11)

Number of columns analyzed by df.describe(): 1

Count of non-null values in numerical columns:
row_n    391.0
Name: count, dtype: float64

Total number of rows in the dataset: 391

In [9]:
print(df.shape)

(391, 11)

In [10]:
summary = df.describe()  # Calls the method and performs the operation

4. df.shape defines the total number of rows and columns in a dataset
   df.describe() provides summary statistics for numerical columns
   If there are missing values in a column, df.describe() will show a lower count than the total number of rows reported by df.shape
   As mentioned, non-numeric columns are excluded from df.describe() by default, which can lead to fewer columns being summarized compared to the total number of columns reported by df.shape

5. attribute is a value that holds a object's properties and a method is a function assocuateda  with a object that performs operations on the object's data. Attribute is static so it doesnt change the object while method can change or return the value of an object.

6. 
Count: The number of entries.
Mean: The average of the values in each column. 
Std (Standard Deviation): A measure of the amount of variation or dispersion in the values of a column.
Min: The smallest value in each column.
25% (First Quartile): The value below which 25% of the data falls.
50% (Median): The middle value of the data when it is sorted. Half of the values are below this point and half are above it.
75% (Third Quartile): The value below which 75% of the data falls. 
Max: The largest value in each column.

7. 
 1.Consider a data sheet where the columns are the names of the students and the marks that they have gotten throughtout the semestr. Each row would represent a single entry of a student's mark throught the term. If a student had dropped out in the middle of the semester,then a few columns for the marks of certaiun examinations might be empty. In this case df.dropna() might work better thamn del df['col']

 2.Consider a data set that contains the results for a survey. The columns would inlcude the name of the particpant and answers to each question. If at the end of the survey, there was a optional question, there would be a lot of missing entries in that column. In this case the best solution would be to del def['col'] rather than df.dropna()
 
 3. This is to avoid deleted more information than required. If del def['col'] is completed first, we are deleting a lot of empty cells 
 
 4. If we have a dataset with the columns age, country, profession and hobbies, and we find more than 50% of missing values in

8. 1.
Grouping by col1: The df.groupby("col1") part of the command groups the DataFrame df based on the unique values in the column col1. This creates separate groups for each different value in col1.
Selecting col2: The ["col2"] part selects the column col2 from each group created in the previous step.
Applying describe(): The describe() method is then applied to the selected column col2 within each group.